/** @format */
@import "../Styles/mixins.scss";

.carousel {
    width: 95%;
    margin: 0 auto;
    @include ipad {
        width: 100%;
        margin: 0;
    }
    .carousel.carousel-slider .control-arrow {
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: $tertioryColor;
        color: white;
        border: 2px solid white;
        transition: all 0.4s;
        &:hover {
            background-color: $tertioryColor;
            color: white;
            border: 2px solid white;
        }
    }
    .carousel .control-dots .dot {
        background-color: $tertioryColor;
    }
    .news-container {
        width: 100%;
        padding: 10px;
        background-color: $gray;
        border-radius: 10px;

        > .news-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            @include ipad {
                flex-direction: row;
            }

            > img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
                @include ipad {
                    height: 300px;
                    width: 40%;
                }
            }
            > .news-info {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 10px;
                gap: 20px;

                @include ipad {
                    width: 60%;
                    padding: 20px;
                }
                > h2 {
                    font-family: $inter;
                    font-size: 1.3rem;
                    text-transform: capitalize;
                }
                > p {
                    font-family: $roboto;
                    font-size: 1rem;
                    text-transform: capitalize;

                    @include ipad {
                        line-height: 25px;
                    }
                }
            }
        }
    }
}
